.about_me {

    padding: 2rem 2rem;
    text-align: justify;
}

.about_subtitle {
    padding-top: 100%
}

@media screen and (min-width:551px) and (max-width: 999px) {

    .about_me {
        font-size: 1.3rem;
        padding: 3rem 6rem;
    }
    
}

@media screen and (min-width:1000px) {
    .about_me {
        font-size: 1.7rem;
        padding: 20%;
        padding-bottom: 10%;
        width: 60%;
        padding-top: 8rem;
    }
}

@media screen and (min-width:1300px) {
    .about_me {
        font-size: 1.9rem;
    }
}