.container .box
{
    align-items: center;
    background: var(--bg-primary);
    color: var(--text-color);
    height: 250px;
    justify-content: center;
    padding: 5vh;
    position: relative;
    transition: 0.5s;
    width: 250px;
    margin: 0px;
}

.container .box::after {
    content: '';
    filter: blur(30px);
    height: 100%;
    left:0;
    position: absolute;
    top:0;
    width: 100%;
    margin: 0;
} 

.container .box::before {
    content: '';
    height: 100%;
    left:0;
    position: absolute;
    top:0;
    width: 100%;
}

.container .box:nth-child(1)::before,
.container .box:nth-child(1)::after {
    background: linear-gradient(135deg, var(--border-color), var(--bg-secondary));

}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {    
    background: linear-gradient(135deg, var(--bg-secondary), var(--bg-primary));
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
    background: linear-gradient(135deg, var(--bg-primary), var(--border-color));
}

.container .box span {
    background: rgba(0, 0, 0, 0.6 );
    bottom: 10px; 
    left: 10px;
    position: absolute;
    right: 10px; 
    top: 10px; 
    z-index: 2;
}

.container .box span::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 1%;
    height: 1%;
    border: 10em solid transparent;  
    border-top-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.1);
    transition: 1s;
}

.container .box:hover span::before {
    border: 1em solid transparent;  
}

.container .box .card-content {
    position: relative;
    z-index: 10;
    top: -30px;
}


.container h2 {
    font-size: 1.75rem;
    padding-bottom: 1vw;
}

.container .box {
    min-height: fit-content;
}


@media screen and ( min-width:501px ) and ( max-width: 815px ) {
    .container .box
    {
        padding: 10vh;
        margin-bottom: 5vh;
    }
    .container .box span::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        width: 1%;
        height: 1%;
        border: 13em solid transparent;  
        border-top-color: rgba(255, 255, 255, 0.1);
        border-right-color: rgba(255, 255, 255, 0.1);
        transition: 1s;
    }
}

@media screen and ( min-width:815px ) and ( max-width: 1160px ) {
    .container .box
    {
        min-height: fit-content;
        margin: 5px;
        width: 90%;
    }

    .container .box span::before {
        display: none;
    }

    .container .box h2 {
        font-size: 1.2rem;
        padding: 15px;
    }

}

@media screen and ( min-width:1161px ) {
    .container .box
    {
        padding: 7vh;
    }

    .container .box span::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        width: 1%;
        height: 1%;
        border: 11em solid transparent;  
        border-top-color: rgba(255, 255, 255, 0.1);
        border-right-color: rgba(255, 255, 255, 0.1);
        transition: 1s;
    }
}

@media screen and ( min-width:1501px ) {
    .container .box
    {
        transform: scale(1.2);
    }
}