nav {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0.5rem 2rem;
    transition: var(--transition);
}

nav a {
    font-size: 1.1rem;
    transition: var(--transition);
}

.links-nav {
    position: relative;
    transition: var(--transition);
}
  
.links-nav:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--text-color);
    transition: var(--transition);
    -webkit-transition: width .2s ease;
}

.links-nav:hover:after{
    width: 100%;
    left: 0;
    background: var(--text-color);
}

.nav-scroll {
    background-color: transparent;
    transition: var(--transition);
    padding: 1.5rem 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 300;
}

// .nav-scroll {
//     transform: scale(0.7);
// }

@media screen and (min-width:551px) and (max-width: 899px) {

    nav {
        padding: 4rem 1rem 2rem;
    }
    
    nav a {
        font-size: 1.3rem;
        transition: var(--transition);
    }
    
    nav a:hover
    {
        text-shadow: 0 0 3px var(--text-color), 0 0 5px var(--text-color);
    }

}

@media screen and (min-width:900px)  {

    nav {
        display: block;
    }

    nav a {
        font-size: 2rem;
        
        padding: 2rem 4rem;
    }

    nav a:hover {
        font-weight: bold;
    }

    .nav-scroll {
        text-align: right;
        
    }

    .nav-scroll a {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
    }
}

@media screen and (min-width:1400px)  {
    .nav-scroll a {
        font-size: 1.6rem;
        padding: 2rem 4rem;
    }
}