nav {
    background:linear-gradient(var(--bg-zero), var(--bg-secondary));
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0.5rem 2rem;
}

nav a {
    font-size: 1.1rem;
}

.links-nav {
    position: relative;
    transition: all 2s ease;
}
  
.links-nav:after{
content: '';
position: absolute;
width: 0; height: 3px;
display: block;
margin-top: 5px;
right: 0;
background: var(--text-color);
transition: width .2s ease;
-webkit-transition: width .2s ease;
}

.links-nav:hover:after{
width: 100%;
left: 0;
background: var(--text-color);
}

@media screen and (min-width:551px) and (max-width: 899px) {

    nav {
        padding: 4rem 1rem 2rem;
    }
    
    nav a {
        font-size: 1.3rem;
        transition: all 0.5 ease;
    }
    
    nav a:hover
    {
        // font-weight: bold;
        text-shadow: 0 0 3px #FFF, 0 0 5px #FFF;
    }

}

@media screen and (min-width:900px)  {

    nav {
        display: block;
        background:linear-gradient(var(--bg-secondary), var(--bg-zero));
    }

    nav a {
        font-size: 2rem;
        padding: 2rem 4rem;
    }

    nav a:hover {
        font-weight: bold;
    }

}