.scrolled {
    transition: all 0.5s ease-in-out;
    padding: 1.5rem 0.5rem;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 150px;
    z-index: 100;
    border: none;
    border-radius: 0;
    line-height: 1.5em;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
}

.scrolled .title  {
    padding-top: 3rem;
    margin-bottom: 4rem;
    font-size: 1rem;
    position: absolute;
    top: 0;
    text-align: center;
    vertical-align: bottom;   
    margin-bottom:0;
    display: flex;
    justify-content: space-around;
}

.scrolled h1 {
    margin: 2vh 0;
    font-size: 1rem;
    padding: 2rem;
}

.scrolled p {
    display: none;
}

.scrolled .stars, .scrolled  .twinkling {
    border-radius: 0;
}


// @media screen and ( min-width:150px ) and ( max-width:400px ) 
// { 
//     .scrolled {
//         height: 10px;
//     }
//     .scrolled h1 {
//         padding: 0px 10px;
//         font-size: 0.9rem;
//     }

// }


// @media screen and ( min-width:550px ) 
// { 
//     .scrolled h1 {
//         font-size: 1.5rem;
//     }
// }

// @media screen and ( min-width:800px ) 
// { 
//     .scrolled h1{
//         padding: 15px 20px
//     }
// }

// @media screen and ( min-width:550px ) and ( max-width: 1099px ) 
// { 
//     .scrolled h1 {
//         font-size: 1.5rem;
//     }

// }

@media screen and ( min-width:1600px ) 
{   
    .scrolled h1 {
        font-size: 2rem;
        padding-left: 2rem;
    }
}
