::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 0px;
    transition: all 2s;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--text-color);
    box-shadow:
    0 0 10px 10px #fff,  
    0 0 20px 20px #fff, 
    0 0 30px 30px #fff;
}

::-webkit-scrollbar-track{
    background: var(--bg-zero);
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px #f0f0f0;
}

::-webkit-scrollbar:horizontal {
    display: none;
    visibility: hidden;
}