.scrolled {
    transition: all 0.5s ease-in-out;
    padding: 1.5rem 0.5rem;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    z-index: 100;
    border: none;
    border-radius: 0;
    line-height: 1.5em;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
}

.scrolled .title  {
    padding-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    position: absolute;
    top: 0;
    text-align: center;
    vertical-align: bottom;   
    margin-bottom:0;
    display: flex;
    justify-content: space-around;
}

.scrolled h1 {
    display: none;
}

.scrolled p {
    display: none;
}

.scrolled .stars, .scrolled  .twinkling {
    border-radius: 0;
}

@media screen and ( min-width:500px ) {

    .scrolled {
        height: 150px;
    }
    
    nav a {
        font-size: 1rem;
    }

    .scrolled h1 {
        display: block;
        margin: 2vh 0;
        font-size: 1rem;
        padding: 2rem;
    }

    .scrolled .title  {
        padding-top: 3rem;
        margin-bottom: 4rem;
    }
}

@media screen and ( min-width:620px ) {
    .scrolled h1 {
        font-size: 1.4rem;
    }

    .scrolled {
        display: block;
    }

} 
@media screen and ( min-width:1000px ) {

    .scrolled h1 {
        margin: 2vh;
        font-size: 1rem;
        padding: 0;
    }

    .scrolled .title  {
        justify-content: start;
    }
}

@media screen and ( min-width:1300px ) {
    .scrolled h1 {
        font-size: 1.8rem;
    }
} 
