section
{
    align-items: center;
    background: var(--gradient);
    display: flex;
    height: 60vh;
    justify-content: center;
    mix-blend-mode: multiply;
    position: relative;
    width: 100vw;
    scroll-snap-align: start;   
    z-index: 1;
}

section p {
    padding: 5vh;
    color: var(--text-color);
    font-size: 1rem;
    text-align: justify;
    line-height: 2;
}

section:nth-child(1) 
{
    background: var(--bg-quaternary) url(../images/code1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-position: center;
}

section:nth-child(3)::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: var(--bg-quaternary) url(../images/my_code1.png) center/cover no-repeat;
    background-blend-mode: multiply;
    width: 100vw;
    height: 100%;
}

@media screen and ( min-width:550px ) and ( max-width: 899px )
{ 
    section p {
        padding: 8vw 14vw;
        font-size: 1.2rem;
        line-height: 2;
    }
}

@media screen and ( min-width: 900px) 
{
    section p {
        padding: 5vh 30vw;
        font-size: 1.5rem;
        line-height: 2;
        box-sizing: border-box;
    }
}