.section
{
    align-items: center;
    display: flex;
    height: 65vh;
    background-color: var(--bg-secondary);
    backdrop-filter: blur(10px);
}


.section p {
    padding: 5vh;
    color: var(--text-color);
    font-size: 1rem;
    text-align: justify;
    line-height: 2;
}

.section:nth-child(2n+1)
{
    background: var(--bg-secondary) url(../images/code2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-position: center;
}

.section:nth-child(2n+2) {
    background: var(--bg-secondary) url(../images/code1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-position: center;
}

.section:nth-child(2n+1) p {
    filter: blur(0);
}
@media screen and ( min-width:550px ) and ( max-width: 899px )
{ 
    .section p {
        padding: 8vw 14vw;
        font-size: 1.3rem;
        line-height: 2;
    }
}

@media screen and ( min-width: 900px) 
{
    .section p {
        padding: 5vh 23vw;
        font-size: 1.8rem;
        line-height: 2;
        box-sizing: border-box;
    }
}