.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.card-content {
    box-shadow:
    -50px -50px 50px -40px var(--bg-secondary),
    50px 50px 50px -40px var(--bg-secondary);
    text-align: center;
    vertical-align: middle;
    min-height: fit-content;
    max-width: 300px;
    transition: all 0.5s ease-in-out;
    width: 300px;
    padding: 3%;
    background: radial-gradient(var(--bg-zero) 50%, var(--bg-primary));
}

.card-content:hover {
    background: radial-gradient(var(--bg-zero) 80%, var(--bg-primary));
    box-shadow:
    -50px -50px 0px -40px var(--text-color),
    50px 50px 0px -40px var(--text-color),
    50px -50px 0px -40px var(--text-color),
    -50px 50px 0px -40px var(--text-color);
    z-index: 10;
}
.card-content h3 {
    font-size: 1.3rem;
    padding: 1.5rem;
}

.card-content li {
    font-size: 1.2rem;
}

.skills-format {
    text-align: center;
}

@media screen and ( min-width: 500px) {

    .card-content {
        min-height: fit-content;
        padding: 0.5rem;
    }
    .card-content li {
        padding:0.3rem;
    }
}

@media screen and ( min-width: 750px) {

    .skills-format
    {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0 15%;
    }
    .box {
        display: flex;
        justify-content: center;
        padding: 3% 1%;
    }

    .card-content {
        box-shadow: -50px -50px 50px -40px var(--bg-secondary), 50px 50px 50px -40px var(--bg-secondary);
        text-align: center;
        min-height: fit-content;
        transition: all 0.5s ease-in-out;
        height: 100%;
        width: 500px;
        background: radial-gradient(var(--bg-zero) 50%, var(--bg-primary));
    }
    .card-content h3 {
        padding-top: 2.5rem;
    }
    
}

@media screen and ( min-width: 950px) {

    .card-content h3 {
        font-size: 1.5rem;
        padding-top: 2.5rem;

    }

    .card-content li {
        padding-top: 0.5rem;
        font-size: 1.3rem;
    }

}


@media screen and ( min-width: 1500px) {

    .skills-format
    {
        grid-template-columns: repeat(2 1fr);
        display: flex;
        justify-content: center;
    }
    .card-content {

        height: 400px;
        width: 400px;
    }

    .card-content h3 {
        padding-top: 2.5rem;
    }
    
}