.subContainer 
{
    background: var(--bg-zero);
    color: linear-gradient(#222, var(--text-color), #222);
    padding: 14vh 0 0 0;
    position: relative;
    text-align: center;
    width: 100vw;
    z-index: 5;
    transition: 2s;
}

h2 {

    color: linear-gradient(to left, transparent, var(--text-color), transparent);
    font-size: 1.4rem;
    text-decoration:none;
    position: relative;
}

.subContainer h2:before {
  content: "";
  position: absolute;
  width: 60vh;
  height: 0.5vh;
  bottom: 0px;
  left: 0px;
  /* to change from going right to left, to left to right, delete right:0 and apply left:0 */
  /*  to change to come from the middle here use transform: scaleX(0);
  and in hover use   transform: scaleX(1); */
  background: linear-gradient(to left, transparent, var(--text-color), transparent);
  box-shadow: -2px -2px 10px linear-gradient(to left, transparent, var(--text-color), transparent),
  2px 2px 20px linear-gradient(to left, transparent, var(--text-color), transparent);
  visibility: hidden;
  transition: all 0.8s ease-in-out;
}

.subContainer:hover h2:before {
    visibility: visible;
    width: 100%;
}

.subContainer:hover h2 {
    color: var(--text-color);
    transition: all 0.8s ease-in-out;
    text-shadow: -2px -2px 10px var(--text-color),
    2px 2px 20px var(--text-color);
}

@media screen and ( min-width:650px ) and ( max-width: 900px)
{ 
    h2 {
        font-size: 2.25rem;
    }
    .subContainer h2:before {
        height: 0.75vh;
    }
}

@media screen and ( min-width: 901px ) 
{ 
    h2 {
        font-size: 2.75rem;
    }

    .subContainer h2:before {
        height: 1vh;
    }
}

@media screen and (min-width:1300px) {
    h2 {
        font-size: 3rem;
    }
}

