* {
    // color: red;
    color: var(--text-color);
    padding:0;
    margin:0;
    font-family: var(--font-tertiary);
    max-width: 100vw;
}

html, body {
    overflow-y: auto;
}

::selection {
    color: var(--bg-quaternary);
    background: var(--text-color);
}

h1 {
    font-family: var(--font-quaternary);
}